backend/HELP.md

# Maven build
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle build
.gradle/
build/
.settings/

# Node Modules
node_modules/

### IDE Files ###
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# System Files
# MacOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Sensitive Information
# Environmental variables file
.env
.env.local
.env.*.local

# Logs
*.log
*.log.*

# Database files
*.sqlite
*.sqlite3
*.db
*.mysql

# Personal files
*.key
*.pem
*.p12
*.crt
*.cer
*.jks

# Application-specific files
api_keys/
config/

# Temp files
*~
*.swp
*.bak
*.tmp

# Miscellaneous
*.class
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
**/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release